<router-outlet></router-outlet>
<!-- <h1>Hello JavaScripts</h1> -->

<!-- <h1>{{title}}</h1> -->



<div class="menu">
    <a routerLink="user">User</a>
    <a routerLink="about">About</a>
    <a routerLink="context">Context</a>
    <a routerLink="/table">Table</a>
    <a routerLink="uber">Uber</a>
    <a routerLink="child">Child</a>
    <a routerLink="">Home</a>
    <a routerLink="resto">Resto</a>
</div>
<!-- <a routerLink="desbored">Desbored</a> -->

<!-- <div class="table">
    <table>
        <thead>
            <tr>
                <th>Sr No</th>
                <th>State</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of dataObj['AN'].dates | keyvalue; let i= index">
        
                <td>{{i + 1}}</td>
                    <td>{{item.key}}</td>
                    
                

<td>{{item.value | json}}</td>
            </tr>
        </tbody>
    </table>
</div>
 -->
